html {
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
 *::before,
 *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #3a3e47;
}

// scroll bar-------------
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: $primary; 
    border-radius: 4px; 

    &:hover {
        background: $primary-dark;
    }
}
//------------------------


a {
    color: $primary;
    text-decoration: none;
    transition: color .25s cubic-bezier(.25,.8,.25,1);

    &:hover {
        color: $primary-dark;
        text-decoration: none;
    }
}