.ava-patern {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/V-uzorak.svg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}
    
.cover-alfa {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}