<template>
  <div class="offers-form-page">
    <div class="ava-patern" />

    <b-container class="content-container">
      <form action="" class="offers-form">
        <div class="field-wrapper">
          <input name="email" type="email" class="input">
          <label for="email" class="label">Email</label>
        </div>

        <div class="field-wrapper">
          <textarea name="message" type="text" class="textarea" />
          <label for="message" class="label">Message</label>
        </div>

        <div class="text-center">
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
    </b-container>
  </div>
</template>
