<template>
  <div class="instagram-feed">
    <div id="instagram-photos" class="instagram-photos" />
  </div>
</template>

<script>
import axios from 'axios'

export default {
  created () {
    this.getItems()
    this.getProfile()
  },
  methods: {
    getItems () {
      const instagramRegExp = new RegExp(/<script type="text\/javascript">window\._sharedData = (.*);<\/script>/)

      const fetchInstagramPhotos = async (accountUrl) => {
        const response = await axios.get(accountUrl)
        const json = JSON.parse(response.data.match(instagramRegExp)[1])
        const edges = json.entry_data.ProfilePage[0].graphql.user.edge_owner_to_timeline_media.edges
        const photos = edges.map(({ node }) => {
          return {
            url: `https://www.instagram.com/p/${node.shortcode}/`,
            thumbnailUrl: node.thumbnail_src,
            displayUrl: node.display_url,
            caption: node.edge_media_to_caption.edges[0].node.text
          }
        })
        return photos
      }

      (async () => {
        try {
          const photos = await fetchInstagramPhotos('https://www.instagram.com/matjaztorc/')
          const container = document.getElementById('instagram-photos')
          photos.forEach((el) => {
            const a = document.createElement('a')
            const img = document.createElement('img')

            a.setAttribute('href', el.url)
            a.setAttribute('target', '_blank')
            a.setAttribute('rel', 'noopener noreferrer')
            a.classList.add('instagram-photo')

            img.setAttribute('src', el.thumbnailUrl)
            img.setAttribute('alt', el.caption)

            a.appendChild(img)
            container.appendChild(a)
          })
        } catch (e) {
          console.error('Fetching Instagram photos failed', e)
        }
      })()
    },
    getProfile () {
      axios.get('https://api.instagram.com/v1/users/self/media/recent/?access_token={$access_token}&count=20').then((response) => {
        const json = JSON.parse(response.data)
        console.log(json)
      })
    }
  }
}
</script>
