.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;

    @include tablet {
        position: fixed;
    }
        
    .logo-wrapper {
        max-width: 150px;
    }

    .logo-img {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    }
}