.video-section {
    height: 600px;
    z-index: 1;
    color: #fff;

    @include tablet {
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
    }

    .video-player {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .title {
        font-size: 40px;
        font-weight: 400;
    }

    .form-link-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        z-index: 2;
    }

    .store-btn-col {
        margin-top: 15px;
    }

    .store-btn {
        max-width: 180px;

        &:hover {
            opacity: .9;
        }
    }
}