.btn {
    padding: 15px 20px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-primary {
    background: $primary;

    &:hover {
        background: $primary-dark;
    }
}