.field-wrapper {
    position: relative;

    .input, .textarea {
        width: 100%;
        margin: 20px 0;
        padding: 0 10px 15px;
        border: 0;
        border-bottom: 1px solid $primary;
        background: transparent;
        font-size: 16px;
        line-height: 18px;
        outline: none;

        &:focus {
            &~ .label {
                top: -3px;
                font-size: 12px;
            }
        }
    }

    .label {
        position: absolute;
        top: 15px;
        left: 10px;
        font-size: 14px;
        line-height: 18px;
        transition: top .3s, font-size .3s;
    }
}