.instagram-feed {
    margin: 20px 0;
    background: transparent;
    color: #333;
}

.instagram-photos {
    display: flex;
    flex-wrap: wrap;
}

.instagram-photo {
    position: relative;
    display: block;
    flex: 0 0 32%;
    max-width: 32%;
    margin: 0 1% 1% 0;

    &:hover {
        &::after {
            background: rgba(255, 255, 255, .3);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: background-color .3s;
    }

    img {
        max-width: 100%;
    }
}