<template>
  <div>
    <app-header />

    <nuxt />
    <!--
    <CookieControl :locale="$t('base.cookieLocale')" /> -->
  </div>
</template>

<script>
import AppHeader from '~/layouts/header/index.vue'

export default {
  components: {
    AppHeader
  }
}
</script>
