<template>
  <div class="page-wrapper">
    <video-section />
    <instagram-section />
  </div>
</template>

<script>
import VideoSection from '~/layouts/video-section/index.vue'
import InstagramSection from '~/layouts/instagram-section/index.vue'

export default {
  components: {
    VideoSection,
    InstagramSection
  }
}
</script>
