<template>
  <header class="header">
    <b-container>
      <div class="logo-wrapper">
        <nuxt-link to="/">
          <img class="img-fluid logo-img" src="~/assets/images/ava-logo.png" alt="Logo image">
        </nuxt-link>
      </div>
    </b-container>
  </header>
</template>
