<template>
  <div class="instagram-section">
    <b-container class="h-100">
      <b-row class="h-100 align-items-start">
        <b-col cols="12" md="5" />

        <b-col cols="12" md="7">
          <instagram-feed />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import InstagramFeed from '~/components/video-section/instagram-feed.vue'

export default {
  components: {
    InstagramFeed
  }
}
</script>
