<template>
  <div class="video-section">
    <div class="cover-alfa" />

    <video autoplay loop class="video-player">
      <source src="~/assets/videos/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <b-container class="content-container">
      <b-row class="h-100 align-items-start">
        <b-col cols="12" md="5">
          <div class="content">
            <h1 class="title">
              Show your beauty
            </h1>

            <b-row class="flex-column">
              <b-col class="text-right store-btn-col">
                <a href="#">
                  <img src="~/assets/images/app-store-btn.svg" class="store-btn">
                </a>
              </b-col>

              <b-col class="text-right store-btn-col">
                <a href="#">
                  <img src="~/assets/images/play-store-btn.svg" class="store-btn">
                </a>
              </b-col>
            </b-row>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <b-container class="form-link-container">
      <nuxt-link to="/offer-form" class="form-link text-uppercase">
        Offer your services
      </nuxt-link>
    </b-container>
  </div>
</template>
